@use "../abstracts/keyframes" as *;


#startcontainer {
    box-shadow: rgb(0, 0, 0, 0.5) 4px 4px 8px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    border-radius: 50px 50px 40px 40px;   
    background-image: linear-gradient(rgb(57, 7, 63), rgb(119, 14, 131) , rgb(202, 28, 222), rgb(119, 14, 131), rgb(57, 7, 63));

}

.image3 {
    max-width: 100%;
}

.startimage3 {
    max-width: 100%;
    animation-name: hue-rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
}

#space {
    width: 100%;
    height: 60px;
}


#logo7 {
    animation-name: bouncelogo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-delay: 0ms;
}

#logo1 {
    animation-name: bouncelogo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-delay: 200ms;
}

#logo2 {
    animation-name: bouncelogo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-delay: 400ms;
}

#logo3 {
    animation-name: bouncelogo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-delay: 600ms;
}

#logo4 {
    animation-name: bouncelogo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-delay: 800ms;
}

#logo5 {
    animation-name: bouncelogo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-delay: 1000ms;
}

