











@keyframes rotateGradient {
    0% {
        filter: hue-rotate(0deg);
    }
    90% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


@keyframes slothwalk {
    0% {
        transform: translate(0, -25vh);
    }
    82% {
        transform: translate(65vw, -25vh);
    } 
    90% {
        transform: translate(65vw, -25vh);
    }
    100% {
        transform: translate(65vw, 85vh);
    }
}

//Rubrik som trillar ner

@keyframes crashdown {
    0% {
        transform: translateY(0);
    }
    28% {
        transform: translateY(0);
    }
    30% {
        transform: rotate(4deg);
        transform-origin: left;
    }
    40% {
        transform: rotate(4deg);
        transform-origin: left;
    }
    50% {
        transform: rotate(-5deg);
        transform-origin: right;
        transform: translateY(35px);
    }
    55% {
        transform: translate(1px, 35px);


    }
    60% {
        transform: translate(-1px, 35px);


    }
    65% {
        transform: translate(1px, 35px);


    }
    70% {
        transform: translate(-1px, 35px);


    }
    75% {
        transform: translate(1px, 35px);


    }
    80% {
        transform: translate(-1px, 35px);


    }
    85% {
        transform: translate(1px, 35px);


    }
    90% {
        transform: translate(-1px, 35px);

    }
    100% {
        transform: translateY(90px);
    }
 
}


@keyframes crashdown2 {
    0% {
        transform: rotate(0deg);
        transform-origin: left;
    }
    30% {
        transform: rotate(0deg);
        transform-origin: left;
    }
    31% {
        transform: rotate(1deg);
        transform-origin: left;
    }
    40% {
        transform: rotate(1deg);
        transform-origin: left;
    }
    50% {
        transform: rotate(-1deg);
        transform-origin: right;
    }
    55% {
        transform: translate(1px, 0px);
    }
    60% {
        transform: translate(-1px, 0px);
    }
    65% {
        transform: translate(1px, 0px);
    }
    70% {
        transform: translate(-1px, 0px);
    }
    75% {
        transform: translate(1px, 0px);
    }
    80% {
        transform: translate(-1px, 0px);
    }
    85% {
        transform: translate(1px, 0px);
    }
    90% {
        transform: translate(-1px, 0px);
    }
    100% {
        transform: translateY(60px);
    }
}



@keyframes crashdown3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(0px);
    }
 
    100% {
        transform: translateY(750px);
    }
}



//Bild som flimrar och slocknar

@keyframes hue-rotate-light {
    0% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 10px;
        mix-blend-mode:normal;
    }
    35% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 10px;
        mix-blend-mode:normal;
    }
    47% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 50px;
        mix-blend-mode:normal;
    }
    48% {
        filter: hue-rotate(-360deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 100px;
        mix-blend-mode:hard-light;
    }
    49% {
        filter: hue-rotate(360deg);
        box-shadow: rgba(255, 0, 0, 0.8) 0px 0px 100px;
        mix-blend-mode:normal;
    }
    50% {
        filter: hue-rotate(-360deg);
        box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 100px;
        mix-blend-mode:normal;
    }
    51% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
        mix-blend-mode: screen;
    } 
    69% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
        mix-blend-mode: screen;
    } 
    70% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 20px;
        mix-blend-mode:normal;
    }
    71% {
        filter: hue-rotate(-360deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 100px;
        mix-blend-mode:hard-light;
    }
    72% {
        filter: hue-rotate(360deg);
        box-shadow: rgba(255, 0, 0, 0.8) 0px 0px 100px;
        mix-blend-mode:normal;
    }
    73% {
        filter: hue-rotate(-360deg);
        box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 100px;
        mix-blend-mode:normal;
    }
    74% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
        mix-blend-mode:normal;
    }
    75% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
        mix-blend-mode: screen;
    }
    80% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
        mix-blend-mode: screen;
    }  
    81% {
        filter: hue-rotate(360deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 50px;
        mix-blend-mode:normal;
    }
    82% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 50px;
        mix-blend-mode:normal;
    }
    100% {
        filter: hue-rotate(0deg);
        box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 10px;
        mix-blend-mode:normal;
    }
}

@media (prefers-color-scheme: dark) {
    @keyframes hue-rotate-light {
        0% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 10px;
            mix-blend-mode:normal;
        }
        35% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 10px;
            mix-blend-mode:normal;
        }
        47% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 50px;
            mix-blend-mode:normal;
        }
        48% {
            filter: hue-rotate(-360deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 100px;
            mix-blend-mode:hard-light;
        }
        49% {
            filter: hue-rotate(360deg);
            box-shadow: rgba(255, 0, 0, 0.8) 0px 0px 100px;
            mix-blend-mode:normal;
        }
        50% {
            filter: hue-rotate(-360deg);
            box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 100px;
            mix-blend-mode:normal;
        }
        51% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
            mix-blend-mode: multiply;
        } 
        69% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
            mix-blend-mode: multiply;
        } 
        70% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 20px;
            mix-blend-mode:normal;
        }
        71% {
            filter: hue-rotate(-360deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 100px;
            mix-blend-mode:hard-light;
        }
        72% {
            filter: hue-rotate(360deg);
            box-shadow: rgba(255, 0, 0, 0.8) 0px 0px 100px;
            mix-blend-mode:normal;
        }
        73% {
            filter: hue-rotate(-360deg);
            box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 100px;
            mix-blend-mode:normal;
        }
        74% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
            mix-blend-mode:normal;
        }
        75% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
            mix-blend-mode: multiply;
        }
        80% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 0px;
            mix-blend-mode: multiply;
        }  
        81% {
            filter: hue-rotate(360deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 50px;
            mix-blend-mode:normal;
        }
        82% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 50px;
            mix-blend-mode:normal;
        }
        100% {
            filter: hue-rotate(0deg);
            box-shadow: rgba(255, 255, 0, 0.8) 0px 0px 10px;
            mix-blend-mode:normal;
        }
    }
}


//Fejk-knapp som flyttar sig hela tiden

@keyframes impossible {
    0% {
       transform: translate(0px, 0px);
    }
    10% {
        transform: translate(30px, -40px);
    }
    20% {
        transform: translate(90px, 90px);
    }
    30% {
        transform: translate(-50px, -190px);
    }
    40% {
        transform: translate(-150px, 30px);
    }
    50% {
        transform: translate(50px, 290px);
    }
    60% {
        transform: translate(0px, -190px);
    }
    70% {
        transform: translate(-50px, -390px);
    }
    80% {
        transform: translate(200px, -100px);
    }
    90% {
        transform: translate(-50px, 20px);
    }
    100% {
        transform: translate(60px, -20px);
    }
}




//Skakande logtyper

@keyframes bouncelogo {
    0% {
        transform: rotate(0deg);
    }
    89% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    92% {
        transform: rotate(8deg);
    }
    94% {
        transform: rotate(-6deg);
    }
    96% {
        transform: rotate(4deg);
    }
    97% {
        transform: rotate(-3deg);
    }
    98% {
        transform: rotate(2deg);
    }
    99% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



//Inspirerats av rörlig gradient härifrån: https://stackoverflow.com/questions/57218443/how-to-animate-a-radial-gradient-using-css

@property --x {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
  }
  
  @keyframes buttonGradient {
      0% {
      --x:0%
      }
      50% {
      --x:50%
      }
      100% {
      --x:100%
      }
  }


  @keyframes buttonfromright {
    0% {
        transform: matrix(1,0,0,1,1000,0);
    }
    70% {
        transform: matrix(1,0,0.5,1,-50,0);
    }
    100% {
        transform:translateX(0px);
    }
  }


  @keyframes closinggate {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0vh);
    }
  }